#!/usr/bin/sh

#syndaemon -i 0.7 -t -k &
#xflux -l 40 -g -74
#setxkbmap dvorak -option ctrl:nocaps
#numlockx &

xsetroot -cursor_name left_ptr
xset +fp /usr/share/fonts/local
xset fp rehash
reloadWallpaper &> /dev/null

## start apps here ##
urxvtd &
thunderbird &
firefox &
vlc &
urxvt -e sh -c 'newsbeuter -r' &
urxvt -e 'slrn' &
urxvt -e bash -c 'screenfetch -o WM=xmonad && read' & ## display screenfetch and wait for input
